* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  background-image: url("../images/speakercloth.jpeg");
}

.languageSelect {
  text-align: center;
  padding: 3px;
}

#stations button {
  color: #0088cc;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.languageOption {
  transition: all 0.3s;
  margin-top: 5px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 10px;
  text-align: center;
}

.tips {
  margin-top: 1em;
  text-align: left;
  padding-left: 2em;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

h3 {
  font-size: 1.2rem;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
}

.textBlock {
  font-size: 1.4rem;
  margin: 10px 0px;
}

button {
  font-size: 1.5rem;
  padding: 0rem;
  border: none;
}

.record {
  width: 100%;
  margin: 10px 0px;
  font-size: 1.5rem;
  background: #009549;
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
  padding: 0.5rem;
}

button.enter {
  background: #0088cc;
}

button.recording {
  background: #d00;
}

button.denied {
  background: #ccc;
  color: #666;
}

button:hover {
  // box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  filter: brightness(1.1);
}


input {
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.soundClips {
  margin: 15px 0px 0px 0px;
  flex: 1;
  overflow: auto;
}

section {
  text-align: center;
  padding: 3px;
  position: relative;
  transition: 1s;
}

.login {
  top: 0px;
  opacity: 1;
}

.shiftUp {
  top: -150px;
}

.shiftUpMore {
  top: -175px;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.mainHidden {
  top: 0px;
  opacity: 0;
}

.languageSelect {
  opacity: 1;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  color: white;
  background: #e41e26;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.radio {
  color: #e41e26;
}

.warning {
  font-size: 1.5rem;
  color: #e41e26;
}

/* Checkbox hack to control information box display */

label {
  font-size: 2rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: snow;
  border-radius: 40px;
}

input[type=checkbox] {
   position: absolute;
   top: -100px;
}

/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}

/* Adjustments for wider screens
@media all and (min-width: 800px) {
  // Don't take all the space as readability is lost when line length goes past a certain size
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
*/

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}