server {
  listen 80;

  root {{ document_root }}/{{ server_name }};
  index index.html index.htm;

  server_name {{ server_name }};

  # Java server
  location /audio {
      proxy_pass http://localhost:9090/audio;
  }

  # Static content
  location / {
    default_type "text/html";
    try_files $uri.html $uri $uri/ =404;
  }
}
